<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">
                        <span class="text-success">
                            <i class="fa fa-lock" aria-hidden="true"></i> Login Panel
                        </span> Client
                    </h1>
                    <!-- form -->
                    <form (ngSubmit)="onRegister()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                        </div>
                            <br>
                        <button type="submit" class="btn btn-success btn-block w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
